In [1]:
import os

import pandas as pd

from salespy import SalesforceClass, EpicorClass

# login to Salesforce
sf = SalesforceClass(
    username='bko@fs-elliott.com.test', sandbox='test',
    org_id='00D7A0000009Kmw'
)

creds = sf.login()

In [2]:
# get most recent Tran Num
last_tran_num = sf.get_last_tran(creds=creds)
print(f'--- Last SFDC Tran Num Extracted: {last_tran_num} ---')

# get Epicor file
directory = (
    '/Users/beekayokay/OneDrive/Projects/'
    'Salesforce Epicor Integration/'
)
file_name = 'test_bookings_df_2.xlsx'

# call Epicor Class and assign DataFrame
epicor = EpicorClass()
bookings_df = epicor.bookings_to_df(os.path.join(directory, file_name))

--- Last SFDC Tran Num Extracted: 4652.0 ---

In [3]:
bookings_df.head()

,OrderNum__c,OrderLn__c,Name,Book_Date__c,BookType__c,OrderRel__c,Prod_Code__c,SN__c,Order_Line_Amt__c,PO_Num__c,...,Ship_To_City__c,Ship_To_State__c,Ship_To_Zip__c,Ship_To_Country__c,Packager__c,Market_Segment__c,Payment_Terms__c,OrderHed_FOB__c,SysRowID__c,Order_Num_Ln__c
0,14,1,25,2003-10-02,New,1,AICE,E311603B-1,962000,SMJR2BOO11,...,AL-JUBAIL,NaN,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,14-1
1,23,1,40,2003-10-02,New,1,AICE,E311603B-1,962000,SMJR2BOO11,...,AL-JUBAIL,NaN,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,23-1
2,1000,1,4650,2003-12-30,Void,1,AIIE,E110042-3,0,A009-41003 R1,...,NaN,NaN,NaN,INDONESIA,NaN,NaN,XLETTER OF CRED,C&F JAKARTA,92059e56-e620-40ac-e111-e6c2e2812162,1000-1
3,1001,1,4651,2003-10-02,New,1,AIKE,C0ET2E048-2,496000,02USSHY26SPEC2201,...,BEIJING,NaN,100101.0,CHINA,NaN,INDUS,NET 45 DAYS,FOB NY PORT,92059e56-e620-40ac-e111-e6c2e3812162,1001-1
4,1002,1,4652,2003-10-02,New,1,AICE,C0ET2E048,962000,SMJR2BOO11,...,AL-JUBAIL,NaN,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,1002-1

In [5]:
bookings_df = sf.add_sn_fo(creds=creds, df=bookings_df)
bookings_df = sf.add_sn_asset(creds=creds, df=bookings_df)

In [6]:
bookings_df

,OrderNum__c,OrderLn__c,Name,Book_Date__c,BookType__c,OrderRel__c,Prod_Code__c,SN__c,Order_Line_Amt__c,PO_Num__c,...,Ship_To_Zip__c,Ship_To_Country__c,Packager__c,Market_Segment__c,Payment_Terms__c,OrderHed_FOB__c,SysRowID__c,Order_Num_Ln__c,Factory_Order__c,Asset__c
0,14,1,25,2003-10-02,New,1,AICE,E311603B-1,962000,SMJR2BOO11,...,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,14-1,NaN,NaN
1,23,1,40,2003-10-02,New,1,AICE,E311603B-1,962000,SMJR2BOO11,...,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,23-1,NaN,NaN
2,1000,1,4650,2003-12-30,Void,1,AIIE,E110042-3,0,A009-41003 R1,...,NaN,INDONESIA,NaN,NaN,XLETTER OF CRED,C&F JAKARTA,92059e56-e620-40ac-e111-e6c2e2812162,1000-1,NaN,02ii0000006PvLyAAK
3,1001,1,4651,2003-10-02,New,1,AIKE,C0ET2E048-2,496000,02USSHY26SPEC2201,...,100101.0,CHINA,NaN,INDUS,NET 45 DAYS,FOB NY PORT,92059e56-e620-40ac-e111-e6c2e3812162,1001-1,NaN,02i7A000004wF5jQAE
4,1002,1,4652,2003-10-02,New,1,AICE,C0ET2E048,962000,SMJR2BOO11,...,31961.0,SAUDI ARABIA,NaN,ENG,PROGRESS PMT 45,FOB PORT NEW YK,92059e56-e620-40ac-e111-e6c2e4812162,1002-1,a1n7A000001CObtQAG,NaN