In [1]:
import os
import shutil

import pandas as pd
from salespy import SalesforceClass, EpicorClass

# login to Salesforce & get credentials
sf = SalesforceClass(
    username='bko@fs-elliott.com.test', sandbox='test',
    org_id='00D7A0000009Kmw'
)
creds = sf.login()
print(f'--- Logged Into Salesforce ---')

# epicor file directory
directory = (
    '/Users/beekayokay/OneDrive/Projects/'
    'Salesforce Epicor Integration/E10 Reports To Upload'
)

# loop through epicor files and merge
count = 0
epicor = EpicorClass()
bookings_df = pd.DataFrame()
for each in os.listdir(directory):
    temp_df = pd.DataFrame()
    if each == '.DS_Store':
        continue
    try:
        temp_df = epicor.bookings_to_df(os.path.join(directory, each))
        bookings_df = bookings_df.append(temp_df, ignore_index=True)
    except IsADirectoryError:
        continue
print(f'--- Merged Files: {bookings_df.size} ---')

--- Logged Into Salesforce ---
--- Merged Files: 1261577 ---

In [2]:
bookings_df.sort_values(by='Tran Num', inplace=True)

In [3]:
bookings_df.loc[(bookings_df['OrderNum'] == 65337) & (bookings_df['OrderLn'] == 1)]

,Book Date,BookType,OrderNum,OrderLn,OrderRel,Prod Code,SN,Order Line Amt,PO Num,Need By Date,...,ShipTo.City,ShipTo.State,ShipTo.ZIP,ShipTo.Country,Packager,Market Segment,Payment Terms,OrderHed.FOB,Tran Num,SysRowID
14672,2019-06-13,New,65337,1,1,AP4X,B9EU2E066,206156.0,42219NH-2,2020-01-10,...,ROCKWOOD,MI,48173,USA,FSE,INDUS,PROGRESS PMT 30,Ex-Works Export,745909,21bb4601-13bf-42ec-a8f6-ade721d42b23
25865,2020-01-08,Chg,65337,1,1,AP4X,B9EU2E066,-206156.0,42219NH-2,2020-01-10,...,ROCKWOOD,MI,48173,USA,FSE,INDUS,PROGRESS PMT 30,Ex-Works Export,758163,047ce36f-8dd9-4a67-8ecb-729a0ab6356b
25866,2020-01-08,Chg,65337,1,1,AP4X,B9EU2E066,212556.0,42219NH-2,2020-01-10,...,ROCKWOOD,MI,48173,USA,FSE,INDUS,PROGRESS PMT 30,Ex-Works Export,758164,c79b534a-a976-4706-8f6b-4f15f3645e48

In [4]:
# aggregate df by OrderNum & OrderLn
bookings_df = epicor.aggregate_df(bookings_df)
print(f'--- Aggregated Data: {bookings_df.size} ---')

--- Aggregated Data: 860332 ---

In [6]:
bookings_df.loc[(bookings_df['OrderNum__c'] == 65337) & (bookings_df['OrderLn__c'] == 1)]

,OrderNum__c,OrderLn__c,Name,Book_Date__c,BookType__c,OrderRel__c,Prod_Code__c,SN__c,Order_Line_Amt__c,PO_Num__c,...,Ship_To_City__c,Ship_To_State__c,Ship_To_Zip__c,Ship_To_Country__c,Packager__c,Market_Segment__c,Payment_Terms__c,OrderHed_FOB__c,SysRowID__c,Order_Num_Ln__c
6548,65337,1,758164,2020-01-08,Chg,1,AP4X,B9EU2E066,212556.0,42219NH-2,...,ROCKWOOD,MI,48173,USA,FSE,INDUS,PROGRESS PMT 30,Ex-Works Export,c79b534a-a976-4706-8f6b-4f15f3645e48,65337-1